.game_board{
    background-color: slategray;
}

.game_board  td{
    width: 20px;
    height: 20px;     
    text-align: center;
    user-select: none;
    font-weight: bold;
}




.not_opened_tile{
    background-color: darkgray;
}

.not_opened_tile:hover{
    background-color: gray;
    cursor: pointer;
}

.opened_tile{
    background-color:  lightgray;
}




.mine {
    background-color: red; 
}




.mines_0{
    color: rgba(0, 0, 0, 0.0);
    background-color:  lightgray;
}

.mines_1{
    color: blue;
}

.mines_2{
    color: green;
}

.mines_3{
    color: red;
}

.mines_4{
    color: purple;
}

.mines_5{
    color: orange;
}