.game_board{
    background-color: slategray;
}

.game_board  td{
    width: 20px;
    height: 20px;     
    text-align: center;
    user-select: none;
    font-weight: bold;
}




.not_opened_tile{
    background-color: darkgray;
    border-radius: 2px;
    box-shadow: black 2px 2px 2px;
}

.not_opened_tile:hover{
    
    background-color: gray;
    cursor: pointer;
}

.opened_tile{
    background-color:  lightgray;
}


.mine_marker{
    /*https://css-tricks.com/css-image-replacement/*/
    height: 20px;
    width: 20px;    
    background: url('img/flag.png') no-repeat;
    background-size: contain;
    text-indent: -9999px;
    cursor: help;
    background-color: darkgray !important;
}

.wrong_mine_marker{
    /*https://css-tricks.com/css-image-replacement/*/
    height: 20px;
    width: 20px;    
    background: url('img/flag_crossed.png') no-repeat;
    background-size: contain;
    /*text-indent: -9999px;*/
    cursor: help;
    background-color: darkgray !important;
}

.mine {
    background-color: red !important; 
    height: 20px;
    width: 20px;    
    background: url('img/mine.png') no-repeat;
    background-size: contain;
    text-indent: -9999px;
}




.mines_0{
    color: rgba(0, 0, 0, 0.0);
    background-color:  lightgray;
}

.mines_1{
    color: blue;
}

.mines_2{
    color: green;
}

.mines_3{
    color: red;
}

.mines_4{
    color: purple;
}

.mines_5{
    color: orange;
}